/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Custom font declarations */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --ifm-heading-font-family: inherit;
  --ifm-color-primary: #834d01;
  --ifm-color-primary-dark: #764501;
  --ifm-color-primary-darker: #6f4101;
  --ifm-color-primary-darkest: #5c3601;
  --ifm-color-primary-light: #905501;
  --ifm-color-primary-lighter: #975901;
  --ifm-color-primary-lightest: #aa6401;
  /* --ifm-code-font-size: 95%; */

  /* slate-x from Tailwind v3 */
  --ifm-color-gray-50: #f8fafc;
  --ifm-color-gray-100: #f1f5f9;
  --ifm-color-gray-200: #e2e8f0;
  --ifm-color-gray-300: #cbd5e1;
  --ifm-color-gray-400: #94a3b8;
  --ifm-color-gray-500: #64748b;
  --ifm-color-gray-600: #475569;
  --ifm-color-gray-700: #334155;
  --ifm-color-gray-800: #1e293b;
  --ifm-color-gray-900: #0f172a;

  --ifm-code-background: var(--ifm-color-gray-200);
  --ifm-background-color: var(--ifm-color-gray-0);
  --ifm-font-color-base: var(--ifm-color-gray-700);
  --ifm-color-emphasis-800: var(--ifm-color-gray-600);
  --ifm-heading-color: var(--ifm-color-gray-900);
  --ifm-hover-overlay: var(--ifm-color-gray-100);
  --ifm-table-border-color: var(--ifm-color-gray-300);
  --ifm-blockquote-border-color: var(--ifm-color-gray-300);
  --ifm-toc-border-color: var(--ifm-color-gray-300);
  --ifm-background-active: var(--ifm-color-gray-100);

  --docsearch-primary-color: var(--ifm-color-primary) !important;
  --docsearch-text-color: var(--ifm-font-color-base) !important;
  --docsearch-searchbox-background: var(--ifm-hover-overlay) !important;
  --docsearch-muted-color: var(--ifm-color-gray-500) !important;

  --ifm-color-info-contrast-background: var(--ifm-color-gray-100);
  --ifm-color-info-dark: var(--ifm-color-gray-400);

  --ifm-spacing-horizontal: 2em;
  --ifm-navbar-padding-horizontal: 10px;
  /* --ifm-menu-link-padding-vertical: 0px; */
  --ifm-menu-link-padding-horizontal: 0;
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: transparent;

  --ifm-alert-padding-horizontal: 25px;
  --ifm-alert-padding-vertical: 14px;
}

html[data-theme='dark'] {
  /*
    Use Tailwind v3 purple-400 as base
    in https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima
  */
  --ifm-color-primary: #f4c27c;
  --ifm-color-primary-dark: #f1b25a;
  --ifm-color-primary-darker: #f0aa49;
  --ifm-color-primary-darkest: #eb9316;
  --ifm-color-primary-light: #f7d29e;
  --ifm-color-primary-lighter: #f8daaf;
  --ifm-color-primary-lightest: #fdf1e2;

  --ifm-code-background: var(--ifm-color-gray-800);
  --ifm-background-color: #070c15;
  --ifm-background-surface-color: var(--ifm-color-gray-1000);
  --ifm-font-color-base: var(--ifm-color-gray-50);
  --ifm-color-emphasis-800: var(--ifm-color-gray-300);
  --ifm-heading-color: #fff;
  --ifm-hover-overlay: var(--ifm-color-gray-700);
  --ifm-table-border-color: var(--ifm-color-gray-700);
  --ifm-blockquote-border-color: var(--ifm-color-gray-700);
  --ifm-toc-border-color: var(--ifm-color-gray-700);
  --ifm-background-active: var(--ifm-color-gray-900);

  --docsearch-muted-color: var(--ifm-color-gray-400) !important;
  --ifm-color-info-contrast-background: var(--ifm-color-gray-800);
  --ifm-color-info-dark: var(--ifm-color-gray-400);
  --ifm-alert-border-width: 0;
}

/* Main layout */
.navbar__inner {
  max-width: 1420px;
  padding: 0 16px;
  margin: 0 auto;
}
.main-wrapper > div {
  max-width: 1440px;
  margin: 0 auto;
}

/* Heading */
div.markdown > h1 {
  font-size: 2.25rem;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 8px !important;
}
div.markdown > h2 {
  font-size: 1.5em;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 32px 0 16px;
  padding-top: 20px;
}
div.markdown > h3 {
  font-size: 1.25em;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 28px 0 12px;
  padding-top: 20px;
}
div.markdown > h4,
div.markdown > h5,
div.markdown > h6 {
  font-size: 1em;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 12px;
}
div.markdown > h1 + p {
  font-size: 1.125rem;
  margin-bottom: 32px;
}

.markdown li {
  margin-top: var(--ifm-list-item-margin);
}

/* Details */
details {
  border-width: 0 !important;
}
details div {
  color: var(--ifm-font-color-base) !important;
}

code {
  padding: 2px 6px;
  border: 0;
}

/* Breadcrumbs */
.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-font-color-base);
}

/* Sidebar */
/* Section title*/
.theme-doc-sidebar-menu .menu__list-item-collapsible .menu__link {
  color: var(--ifm-heading-color);
  font-size: 14px;
  padding-left: 12px;
}
/* Section content */
.theme-doc-sidebar-item-category ul.menu__list {
  margin-top: 0;
  margin-left: 12px;
  border-left: solid 1px var(--ifm-toc-border-color);
  font-weight: 400;
}
.theme-doc-sidebar-item-category .menu__list li.menu__list-item {
  margin: 8px 0;
}
/* .theme-doc-sidebar-item-category .menu__list li.menu__list-item svg {
  opacity: 0;
} */
.theme-doc-sidebar-menu .menu__list-item > a.menu__link {
  border-left: 1px solid transparent;
  margin-left: -1px;
  border-radius: 0;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 14px;
}
.theme-doc-sidebar-menu .menu__list-item > a.menu__link:hover {
  border-left: 1px solid var(--ifm-font-color-base);
  color: var(--ifm-font-color-base);
}
.theme-doc-sidebar-menu .menu__list-item > a.menu__link--active {
  font-weight: 600;
  border-left: 1px solid var(--ifm-color-primary);
}
.theme-doc-sidebar-menu .menu__list-item > a.menu__link--active:hover {
  border-left: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}
/* Sidebar: end */

/* Card */
.cardLink {
  background-color: transparent;
}
.cardLink .arrow {
  opacity: 0;
  color: var(--ifm-font-color-base);
}
.cardLink:hover .arrow {
  opacity: 1;
}
/* CI Card: end *

/* Navbar */
nav.navbar:not(.navbar-sidebar--show) {
  backdrop-filter: blur(8px);
  background-color: transparent;
}
nav.menu {
  padding: 22px 20px;
}
.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  box-shadow: none;
}
/* GitHub navbar icon */
/* Source: https:/Hgithub.com/facebook/docusaurus/blob/mainv/website/src/css/custom.css */
.header-github-link:hover {
  opacity: 0.6;
}
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
/* GitHub navbar icon: end */
/* Twitter navbar icon */
.header-twitter-link:hover {
  opacity: 0.6;
}
.header-twitter-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84'/%3E%3C/svg%3E")
    no-repeat;
}
[data-theme='dark'] .header-twitter-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84'/%3E%3C/svg%3E")
    no-repeat;
}
/* Twitter navbar icon: end */
/* Navbar: end */

.rounded {
  border-radius: 8px;
}

.bordered {
  border: solid 1px var(--ifm-table-border-color);
}
.bordered:hover {
  border: solid 1px var(--ifm-color-primary);
}

/* Mobile view */
@media screen and (max-width: 996px) {
  div.markdown > h1 {
    font-size: 1.875rem;
  }

  /* Section content */
  .theme-doc-sidebar-item-category ul.menu__list {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .theme-doc-sidebar-menu .menu__list-item > a.menu__link {
    font-size: 16px;
  }
  .theme-doc-sidebar-menu .menu__list-item-collapsible .menu__link {
    font-size: 16px;
  }
  .theme-doc-sidebar-item-category .menu__list li.menu__list-item {
    margin: 10px 0;
  }
  /* Sidebar: end */
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
